Package: ge-proton-7
Version: 14-peshkopy1
Architecture: all
Maintainer: Peshkopy <peshkopy@protonmail.com>
Homepage: https://github.com/peshkopy/ge-proton-deb-package
Description: Unofficial GE-Proton7-14 Released
 Compatibility tool for Steam Play based on Wine and additional components.
 https://github.com/GloriousEggroll/proton-ge-custom/releases/tag/GE-Proton7-11
 https://github.com/GloriousEggroll/proton-ge-custom/releases/tag/GE-Proton7-12
 https://github.com/GloriousEggroll/proton-ge-custom/releases/tag/GE-Proton7-13
 https://github.com/GloriousEggroll/proton-ge-custom/releases/tag/GE-Proton7-14
